:root {
  --color-background: rgb(255, 255, 255);
  --color-layout: rgb(255, 255, 255);
  margin: 0 auto;
  width: 100vw;
}

body {
  font-family: -apple-system, 'system-ui', 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background: var(--color-background);
  // Avoid fixed footer obscuring content
  // padding-bottom: 50px;
}

a {
  color: black;
}

nav {
  width: 100vw;
  height: 2rem;
  background: var(--color-layout);
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding-bottom: 1rem;
  position: absolute;
  border-bottom: 1px solid black;

  > div {
    display: flex;
    // align-items: center;
    gap: 0.625rem;
  }

  > div a {
    // margin: 0.25rem;
  }
}

button {
  font-size: 0.875rem;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
